@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body{
    font-family: 'Nunito Sans', sans-serif;

    .wrapper{
        width: 100%;
        margin: 0px;
        padding: 0px;

        .main{
            // height: 100vh;

            .homestays{
                .homestay{
                    margin: 20px auto;

                    img{
                        max-width: 400px;
                        max-height: 150px;
                    }
                }
            }
        }

        .map{
            .marker{
                color: #ffffff;
                background-color: darkcyan;
                padding: 5px;
                width: 40px;
                text-align: center;
                font-size: 10px;
                border-radius: 5px;

                &.selected{
                    background-color: blue;
                    font-weight: bold; 
                }
            }
        }
    }
}