@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body{
    font-family: 'Nunito Sans', sans-serif;

    .wrapper{
        width: 100%;
        margin: 0px;
        padding: 0px;

        .main{
            // height: 100vh;

            .homestays{
                .homestay{
                    margin: 20px auto;

                    img{
                        max-width: 400px;
                        max-height: 180px;
                    }
                }
            }
        }

        .map{
            background-color: pink;
        }
    }
}